.szh-menu-container--theme-dark .szh-menu {
    color: #F9FAFF;
    padding-left: 4px;
    padding-right: 4px;
    background-color: #192247;
    border: 1px solid rgba(0, 0, 0, 0.25);
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.16);
  }
  .szh-menu-container--theme-dark .szh-menu__arrow {
    background-color: #22262c;
    border-left-color: #333;
    border-top-color: #333;
  }
  .szh-menu-container--theme-dark .szh-menu__item--hover {
    background-color: #0D142F;
    border-radius: 8px;
    color: #75A4F9;
  }
  .szh-menu-container--theme-dark .szh-menu__item--focusable {
    background-color: inherit;
  }
  .szh-menu-container--theme-dark .szh-menu__item--disabled {
    color: #666;
  }
  .szh-menu-container--theme-dark .szh-menu__divider {
    background-color: #3a3a3a;
  }
  