/* Light Theme */
.calendar-light,
.calendar-dark {
    font-size: 16px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
    border-radius: 16px;
}

.calendar-light .rmdp-range,
.calendar-dark .rmdp-range {
    box-shadow: none;
}

.rmdp-day span {
    font-size: 16px;
}

.calendar-light .rmdp-day.rmdp-today span {
    background-color: unset;
    color: #0D142F;
}

.calendar-light .rmdp-range span {
    background-color: #EEF1F6;
    color: #0D142F;
}

.calendar-light .rmdp-range {
    background-color: #EEF1F6;
    color: #0D142F;
}

.rmdp-day, .rmdp-week-day {
    height: 40px;
    width: 40px;
}

.rmdp-calendar {
    padding: 15px 20px;
}

.rmdp-calendar .rmdp-day-picker>div:first-child {
    margin-right: 40px;

}

.rmdp-week {
    margin: 5px 0px;
}

.calendar-light .rmdp-week-day {
    color: #0D142F;
    font-size: 16px;
}

.calendar-light .rmdp-calendar .rmdp-header-values {
    color: #0D142F;
    font-size: 18px;
}

.calendar-light.rmdp-range-hover.start,
.calendar-light .rmdp-range.start {
    color: #FFF;
}

.calendar-light.rmdp-range-hover.start,
.calendar-light .rmdp-range.start,
.calendar-light .rmdp-range.start span {
    background-color: #24498E;
    border-radius: 50%;
    margin: 0px;
    color: #fff;
}


.calendar-light.rmdp-range-hover.end,
.calendar-light .rmdp-range.end,
.calendar-light .rmdp-range.end span {
    background-color: #24498E;
    border-radius: 50%;
    color: #FFF;
}

.calendar-light .rmdp-week .rmdp-range:last-child {
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
}

.calendar-light .rmdp-week .rmdp-range:first-child {
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
}

.custom-action-light {
    margin-left: 20px;
}

.custom-action-light ul li {
    color: #0D142F;
    list-style: none;
    border-radius: 4px;
    padding: 8px;
}

.custom-action-light ul li a {
    cursor: pointer;
}

.custom-action-light ul li.active {
    background-color: #EBEFFF;
    color: #24498E;
}


/* Dark Theme */

.calendar-dark {
    background-color: #1D2851;
}

.calendar-dark .rmdp-calendar .rmdp-header-values {
    color: #F9FAFF;
    font-size: 18px;
}

.calendar-dark .rmdp-week-day {
    color: #F9FAFF;
    font-size: 16px;
}

.calendar-dark .rmdp-day.rmdp-today span {
    background-color: unset;
    color: #F9FAFF;
}

.calendar-dark .rmdp-day, .rmdp-week-day {

    color: #F9FAFF;
}

.calendar-dark .rmdp-day.rmdp-deactive,

.calendar-dark .rmdp-day.rmdp-disabled {
    color: #6676B7;
}

.calendar-dark .rmdp-range {
    background-color: #202F5C;
    color: #F9FAFF;
}

.calendar-dark.rmdp-range-hover.start,
.calendar-dark .rmdp-range.start {
    color: #0D142F;
}

.calendar-dark.rmdp-range-hover.start,
.calendar-dark .rmdp-range.start,
.calendar-dark .rmdp-range.start span {
    background-color: #507DD3;
    border-radius: 50%;
    margin: 0px;
    color: #0D142F;
}

.calendar-dark.rmdp-range-hover.end,
.calendar-dark .rmdp-range.end,
.calendar-dark .rmdp-range.end span {
    background-color: #507DD3;
    border-radius: 50%;
    color: #0D142F;
}

.custom-action-dark {
    margin-left: 20px;
}

.custom-action-dark ul li {
    color: #F9FAFF;
    list-style: none;
    border-radius: 4px;
    padding: 8px;
}

.custom-action-dark ul li a {
    cursor: pointer;
}

.custom-action-dark ul li.active {
    background-color: #324073;
    color: #6197F8;
}